body{
    background-color: hsl(212, 45%, 89%);
}
.parent_block{
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    height:600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-top:10% ;
  
}
    .image-container {
        width: 280px; /* Set a fixed width for the container */
        height: 330px; /* Set a fixed height for the container */
        color: rgb(40, 23, 23);
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
        padding:10px 0px 0px 0px;
        box-shadow: 50px 9px 20px #1a1a1a0a;
       
    }
    
    .image-container img {
        width: 280px; /* Ensure the image doesn't exceed the container's size */
        height: 350px;
        border-radius: 10px; /* Apply a circle as the border-radius (for full rounding) */
        padding: 50px -10px 25px 25px;
    }
    .textblock{
       padding: -20px 0px 0px 20px;
       font-size: 30px;
       text-align: center;
    }
    .textblock h5{
        color:hsl(218, 44%, 22%);
    }
    .text2{
        font-size: 18.5px;
        text-align: center;
        padding: 0px -10px 0px -10px;
        color: hsl(212, 45%, 89%);

    }
